# SELECT
## especificando coluna
SELECT colunm1, colunm2
FROM chart;

## selecionando tudo
SELECT * FROM chart;

# DISTINCT
## especificando dados não duplicados
SELECT DISTINCT Colunm2, colunm2
FROM chart;

# COMENTÁRIOS
-- ou /* comentário */    

# WHERE
## Operadores    -     Descrição
    =                   Igual
    >                   Maior que
    <                   Menor que
    >=                  Maior ou igual que
    <=                  Menor ou igual que
    <>                  Diferente de
    AND                 Operador Lógico E
    OR                  Operador Lógico OU   
## selecionando dados específicos 
SELECT * FROM chart
WHERE name = 'João Ferreira'
## selecionando produtos com cores diferentes
SELECT * FROM production.products
WHERE color = 'blue' or color = 'red'
## selecionando produtos especificando valores
SELECT * FROM production.products
WHERE price > 1500 and price <= 5000
## selecionando produtos retirando um tipo excluindo um tipo
SELECT * FROM production.products
WHERE color <> 'black'
## selecionando produtos com peso entre 600 e 800 kg
SELECT name 
FROM production.products
WHERE wheigt > 600 and wheigt<= 800
## selecionando empregados que são casados e assalariados
SELECT * FROM HumanResources.Employee
WHERE MaritalStatus = 'm' AND SaliredFlag = 1

## selecionando um cliente devedor e o seu email para cobrança
SELECT Person.Person
FROM name = 'Pedro Barbosa' ## Use o id para encontrar o email

SELECT *
FROM EmailAddress
WHERE BusinessEntityID = 19

# COUNT
## Fazendo a contagem total de linhas da tabela
SELECT COUNT(*)
FROM chart

## Fazendo a contagem campos específicos da tabela
SELECT COUNT(enable)
FROM chart

## selecionando quantos tamanhos existentes de produtos 
SELECT COUNT(size)
FROM production.product

# TOP
## selecionando quantidades de linhas(10)
SELECT TOP 10 *
FROM chart

# ORDER BY
SELECT colunm
FROM chart
ORDER BY name asc, ID desc

##selecionando os 10 primeiro produtos por ordem crescente do id e ordem de preço descrescente dos produtos
SELECT TOP 10 productsID
FROM production.products
ORDER BY price DESC